# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.env
*.log
venv/
.env.*

# FastAPI specific
*.pid
*.pyc

# VSCode and other IDEs
.vscode/
.idea/

# React
node_modules/
build/
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db
